*{
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: my-font;
  src: url(SulphurPoint-Regular.ttf);
}

@font-face {
  font-family: my2-font;
  src: url(Apple.OTF);
}

body {
  display: grid;
  resize: both;
  grid-template-rows: 1fr;
  position: relative;
  background-color: black;
}

/* Photo gallery */

.frame {
  display: flex;
  flex-direction: row;
  inset: 0;
  margin: 0 auto;
  min-width: 100%; 
}

#gallery {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-evenly;
  
}

#gallery div {
  width: 100%;
  display: block;
  grid-template-rows: 1fr 1fr;
  flex: none;
  box-sizing: border-box;
  height: 50%;
  z-index: -1;
  
}

#logo1 {
  opacity: 40%;
  max-width: 20%;
  position: absolute;
  top: 0;
  left: 5%;
  max-height: 19%;
}

img {
  max-width: 100%;

}

#gallery::-webkit-scrollbar {
  display: none;
}

.controlBtns{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  

}

#nextBtn, #prevBtn {
  cursor: pointer;
  background-color: transparent;
  font-size: 30px;
  border: none;
  padding: 10px;
  color: white;
  
}

#nextBtn:focus, #prevBtn:focus {
  outline: none;
}

#prevBtn {
  transform: rotate(180deg);
}

#explain {
  width: 80%;
  height: 8rem;
  color: white;
}




/* About Home Project section */

#buttonTabs button{
  display: flex;
  flex-direction: row;
  color: orange;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 800;
  position: relative;
  text-align: center;
  font-family: my-font;
  left: 0;
  width: 100%;
  justify-content: center;

}

#buttonTabs {
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: relative;
  top: 0px;
  left: 0px;
  justify-content: center;
}

#buttonTabs button:hover {
  color: whitesmoke;
}

/* dialog content */

.formPart {
  padding: 10px;
  gap: 30px;
}

#dialogBox {
  position: relative;
  color: orange;
  top: 20%;
  left: 20%;
  gap: 15px;
  text-align: justify;
  font-family: my2-font;
  font-weight: 1000;
  padding: 20px;
  opacity: 85%;
  border: none;
}


input {
  font-family: my-font;
  padding: 10px;
  border-radius: 3px;
}

.dialogBtn {
  padding: 5px;
  gap: 20px;
  opacity: none;
  
}

#confirmBtn {
  color: white;
  font-family: my-font;
  padding: 5px;
  gap: 10px;
  font-weight: 800;
  
}

#cancelBtn {
  color: white;
  font-family: my-font;
  padding: 5px;
  gap: 10px;
  font-weight: 800;
  
}

.aboutText {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  color: orange;
  font-family: my2-font;
  justify-content: space-around;
  text-align: center;
  font-weight: 800;
}

.socials {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 20%;
  left: 0px;
  max-width: 3%;
  min-height: auto;
  gap: 25px;
  overflow: visible;
  z-index: +1;
  
}

.social:hover{
  width: 4rem;
  height: 4rem;
  max-width: 200%;
  max-height: 200%;
  margin-left: -10px;   
}

