*{
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
}

@font-face {
  font-family: my-font;
  src: url(JosefinSans.ttf);
}

body {
  display: grid;
  resize: both;
  grid-template-rows: 1fr;
}

/* Photo gallery */

.frame {
  display: flex;
  flex-direction: row;
  inset: 0;
  max-height: 80%;
  margin: 0;
  max-width: 100%; 
}

#gallery {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}

#gallery div {
  max-width: 100%;
  display: block;
  grid-template-rows: 1fr 1fr;
  flex: none;
  box-sizing: border-box;
  float: left;
}

#logo1 {
  opacity: 40%;
  max-width: 20%;
  position: absolute;
  top: 0px;
  left: 40px;
  height: 30%;
}

img {
  max-width: 100%;

}

#gallery::-webkit-scrollbar {
  display: none;
}


button#nextBtn {
  max-width: 100%;
  border: none;
  position: relative;
  top: 10%;
  color: white;
  opacity: 20%;
  display: block;
  
}

#explain {
  width: 80%;
  height: 8rem;
  color: white;
}

button#prevBtn {
  max-width: 100%;
  transform: rotate(180deg);
  border: none;
  position: relative;
  top: 10%;
  color: white;
  opacity: 20%;
  display: block;

}

/* About Home Project section */

#buttonTabs button{
  display: flex;
  flex-direction: row;
  color: orange;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 800;
  position: relative;
  text-align: center;
  font-family: my-font;
  left: 0;
  top: -3rem;
  width: 100%;
  justify-content: center;

}

#buttonTabs {
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: relative;
  top: 0px;
  left: 0px;
  justify-content: center;
}

#buttonTabs button:hover {
  color: whitesmoke;
}

/* dialog content */

.formPart {
  padding: 10px;
  gap: 30px;
}

#dialogBox {
  
  position: relative;
  color: orange;
  bottom: 200px;
  top: 20%;
  left: 20%;
  gap: 15px;
  text-align: center;
  font-family: my-font;
  padding: 20px;
  gap: 50px;
  opacity: 80%;
  border: none;
}


input {
  font-family: my-font;
  padding: 10px;
  border-radius: 3px;
}

#confirmBtn {
  color: white;
  font-family: my-font;
  padding: 5px;
  gap: 10px;
  
}

#cancelBtn {
  color: white;
  font-family: my-font;
  padding: 5px;
  gap: 10px;
  
}

.aboutText {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  color: orange;
  font-family: my-font;
  justify-content: space-around;
  text-align: center;
}